body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; 
  text-align: center;
  padding-top: 200px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

h1 {
  color: #333;
}

.form-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(12, 11, 11, 0.1);
  background-color: #fff;

}

h2 {
  margin-top: 0;
  color: #333;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.message {
  color: red;
}

.message2 {
  color: green;
}

.signup-message {
  margin-top: 20px;
}

.signup-message a {
  color: #874caf;
  text-decoration: none;
  font-weight: bold;
}

.signup-message a:hover {
  text-decoration: underline;
}

